// Utility
    
%ab-center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

%press-start-2p
    font-family: "Press Strart 2P"

%noto-serif-tc
    font-family: "Noto Serif TC", serif

.f-titile
    font-weight: bold
    color: #fff
    -webkit-text-stroke: 0.04rem #019857