// Utility
    
%ab-center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

%press-start-2p
    font-family: "Press Strart 2P"

%noto-serif-tc
    font-family: "Noto Serif TC", serif

.f-titile
    font-weight: bold
    color: #fff
    -webkit-text-stroke: 0.04rem $main-color

// Border
.custom-bdr
    border: $border-color 2px solid
    border-radius: 0
    &:hover
        cursor: pointer
        border-color: $border-hover-color

.custom-bdr-bm
    border-bottom: $border-color 2px solid
    &:hover
        cursor: pointer
        border-color: $border-hover-color


.custom-bdr-dark
    border: $dark-border-color 2px solid
    border-radius: 0
    &:hover
        cursor: pointer
        border-color: $border-hover-color


.custom-bdr-dark-bm
    border-bottom: $dark-border-color 2px solid
    &:hover
        cursor: pointer
        border-color: $border-hover-color