// Variable
$main-color: #019858
$hover-color: #02F78E
$border-color: #01814A
$bg-color: black

// Initial
*
    box-sizing: border-box
    position: relative
    list-style-type: none
    text-decoration: none

html, body
    background-color: $bg-color
    font-family: 'Noto Sans TC', 'Noto Serif TC', serif
    font-size: 16px
    color: #ccc

a
    color: $main-color
    &:hover
        color: $hover-color

hr
    border-top: 1px solid #9D9D9D


@import utility

/*Navbar*/
%nav
    background-color: $bg-color
    border-top: solid
    border-bottom: solid
    border-width: 2px
    border-color: $border-color
    box-shadow: 0 2px 0 1px $bg-color
    z-index: 4999

.nav-top
    @extend %nav
    height: 70px

.nav-mid
    @extend %nav
    flex-wrap: wrap
    padding-top: 8px
    padding-bottom: 6px

@media (min-width: 576px)
    .nav-mid
        height: 85px

@media (min-width: 992px)
    .nav-top, .nav-mid
        padding: 12px 40px
        height: 90px

@media (min-width: 1200px)
    .nav-top, .nav-mid
        padding: 12px 150px




@import community


// Expand Project Content

.expand-project
    padding: 2rem 1rem
    visibility: hidden
    height: 0
    & .btn
        white-space: pre
        border-color: $main-color
        border-width: 2px

@media (max-width: 576px)
    .expand-project
        visibility: visible
        height: auto
    
    .project-content
        max-height: 200px
        overflow: hidden