// Variable
$main-bg-color: #000
$sec-bg-color: rgba(55, 55, 55, 0.5)
$main-color: #019858
$main-hover-color: #02F78E
$sec-color: #bebebe
$sec-hover-color: #fff
$thd-color: #888
$border-color: #01814A
$border-hover-color: #02C874
$dark-border-color: rgba(1, 126, 72, 0.4)

// Initial
*
    box-sizing: border-box
    position: relative
    list-style-type: none
    text-decoration: none

    // corrected display font-size smaller than 12px
    -webkit-text-size-adjust: none !important

html, body
    background-color: $main-bg-color
    font-family: "Noto Sans TC", "Noto Serif TC", serif
    font-size: 16px
    color: $sec-color

a
    color: $main-color

    &:hover
        color: $main-hover-color

hr
    border-top: 1px solid #333

%input-reset
    display: block
    margin-top: 0.5rem
    margin-bottom: 1rem
    margin-left: 0.75rem
    padding-left: 0.5rem
    line-height: 2rem
    background-color: $main-bg-color
    color: $sec-color
    border: $dark-border-color 1px solid

    &:focus
        border: $border-hover-color 1px solid
        outline: none


/* Change Autocomplete styles in Chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
    border: $border-hover-color 1px solid
    -webkit-text-fill-color: $main-hover-color
    -webkit-box-shadow: 0 0 0px 1000px $main-bg-color inset
    // background-color: $main-bg-color !important

    transition: background-color 5000s ease-in-out 0s

// type:number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none

input[type="number"]
    -moz-appearance: textfield


@import utility

// Navbar
%nav
    background-color: $main-bg-color
    border-top: solid
    border-bottom: solid
    border-width: 2px
    border-color: $dark-border-color
    box-shadow: 0 2px 0 1px $main-bg-color
    z-index: 9999

.nav-top
    @extend %nav

    height: 70px
    border-top: none

.nav-mid
    @extend %nav

    flex-wrap: wrap
    padding-top: 8px
    padding-bottom: 6px


.nav-link
    color: $main-color !important
    font-family: 'Noto Sans TC', serif
    font-size: 4vw
    padding: 4px

.nav-link:hover
    color: $main-hover-color !important
    cursor: pointer

.nav-item
    padding: 0 4px
    min-width: 72px
    text-align: center


.active
    color: $main-hover-color !important


@media (min-width: 576px)
    .nav-mid
        height: 85px
    .nav-link
        font-size: 18px

@media (min-width: 992px)
    .nav-top, .nav-mid
        padding: 12px 72px
        height: 90px

    .nav-item
        min-width: 100px
        padding: 0 8px

@media (min-width: 1200px)
    .nav-top, .nav-mid
        padding: 12px 200px

// logo
$size: 28px

%logo-box-shadow
    box-shadow: 0 0 2px rgba(1, 178, 104, 1), 0 0 4px rgba(1, 178, 104, 0.8), 0 0 6px rgba(1, 178, 104, 0.6), 0 0 8px rgba(1, 178, 104, 0.6), 0 0 10px rgba(1, 178, 104, 0.4)

%logo-text-shadow
    text-shadow: 0 0 1px rgba(1, 178, 104, 1), 0 0 2px rgba(1, 178, 104, 1), 0 0 3px rgba(1, 178, 104, 0.8)

.logo
    padding-left: 1rem

    a
        padding: 10px
        border: 2px solid $sec-color
        border-radius: 50%
        color: $sec-color
        transition: all 0.2s

        @extend %logo-box-shadow

        span
            width: $size + 3px
            font-family: "M PLUS 1p", sans-serif
            font-size: $size
            line-height: $size
            transform: translate(-1.5px, -6px) perspective(0.5rem) rotateX(15deg)

            @extend %logo-text-shadow

        &:hover, &:focus
            color: $sec-hover-color
            border: $sec-hover-color 2px solid

            // avoid box-shadow of bootstrap btn focus
            @extend %logo-box-shadow

            transform: scale(1.1)

// login
.login

    // login-btn
    & > li > a
        min-width: 100px
        max-width: 100%
        font-family: "Share Tech Mono", monospace, "Noto Serif TC", serif
        font-weight: 600
        font-size: 18px
        color: $main-color
        border-color: $dark-border-color
        border-width: 2px

        // box-shadow: 0 0 8px 2px $main-color

    span
        color: $main-color

    // dropdown
    .dropdown
        border-color: $border-hover-color
        display: block
        position: absolute
        right: 0
        top: 120%
        background-color: $main-bg-color
        border-width: 1px
        box-shadow: 0px 0px 2px 2px $main-bg-color
        opacity: 0
        visibility: hidden
        transition: all 0.5s ease

        li
            display: block
            width: 100px
            left: 50%
            transform: translateX(-50%)

        a
            font-family: "Share Tech Mono", monospace, "Noto Serif TC", serif
            font-weight: 600
            display: block
            border: none
            transition: all 0.2s

    // hover & expand
    & > li:hover > a
        color: $main-hover-color
        border-color: $main-hover-color
        border-width: 2px

        // box-shadow: 0 0 8px 1px $main-hover-color

    & > li:hover span
        color: $main-hover-color

    & > li:hover .dropdown
        opacity: 1
        visibility: visible
        top: 110%

// white-btn of dropdown menu
.white-btn
    color: $sec-color

    &:hover
        color: $sec-hover-color

@media (min-width: 992px)
    .logo
        padding: 0

    .login
        padding: 0

// Index Product
.product-box
    animation: easelight 2s cubic-bezier(0.4, 0, 0.3, 0) both

.product-head
    font-size: 1.25rem

.product:hover .custom-bdr-dark-bm
    border-bottom: $border-hover-color 2px solid
    color: $sec-hover-color

.product .imgbox
    opacity: 0.7
    transition: inherit

.product:hover .imgbox
    opacity: 1

.product-summary
    height: 4rem
    overflow: hidden

// Project
.intro
    padding: 1rem

.title
    font-family: "Share Tech Mono", monospace, "Noto Serif TC", serif

.project-status
    justify-content: space-between
    font-family: "Press Start 2P", "Noto Serif TC", serif

    span
        font-family: "Noto Serif TC", serif

.description
    font-family: "Noto Sans TC", "Noto Serif TC", serif
    font-size: 20px
    line-height: 30px

.project-content img
    max-width: 100%
    height: auto
    border-radius: 4px
    margin: 1rem 0
    max-height: 400px
    left: 50%
    transform: translateX(-50%)

@media (min-width: 576px)
    .intro,
    .project-content
        padding-left: 2rem
        padding-right: 2rem

// Comment
.comment

    .usr-img-box
        width: 60px
        vertical-align: top

        img
            border-radius: 4px
            width: 60px
            height: 60px

    .comment-in
        width: calc(100% - 76px)

        p
            font-size: 14px
            overflow-wrap: break-word

.rank

    .usr-name
        overflow-wrap: break-word

    img
        width: 48px
        height: 48px
        border-radius: 4px

@media ( max-width: 410px )
    .rank
        .usr-name
            max-width: 110px

@media ( min-width: 992px )
    .rank
        .usr-name
            max-width: 72px

@media ( min-width: 1533px )
    .rank
        .usr-name
            max-width: none


.gallery

    img
        width: 60px
        height: 60px
        border-radius: 4px

.amount-area
    width: 90%
    .btn
        width: auto
        padding: .25rem .5rem
        letter-spacing: 2px
        white-space: nowrap
        font-weight: bold
        font-size: 14px

// Update
.update-content

    img
        margin: 1rem 0
        border-radius: 4px
        max-width: 100%
        max-height: 400px
        width: auto
        height: auto

    a
        overflow-wrap: break-word

.update-content-sm
    @extend .update-content
    max-height: 400px
    overflow: hidden


// Project Page Switch
#subPage
    // overflow: hidden
    .container-fluid
        // position: relative !important



// Select Plan
.shadow-title
    color: $sec-color
    text-shadow: 0.2px 0.2px $main-color, 0.4px 0.4px $main-color, 0.6px 0.6px $main-color, 0.8px 0.8px $main-color, 1px 1px $main-color
    font-family: "Noto Serif TC", serif

.select-content
    background-color: $sec-bg-color
    height: 4rem
    overflow: hidden
    margin-top: 1rem
    padding: 1rem
    border-radius: 4px

    span
        position: absolute
        top: 50%
        transform: translateY(-50%)

//  donate form select area
.select
    background-color: #6BB382
    width: 120px
    margin: 0 16px 16px 0

.custom-card .text-select
    background-color: transparent
    border: none
    display: inline-block
    width: 48px
    text-align: right
    margin: 0

.custom-card .select .text-select:focus
    background-color: transparent
    border-color: transparent
    box-shadow: none

.custom-card .btn-select
    background-color: transparent
    width: auto
    border: none
    padding: 0 4px 8px
    margin: 0
    color: $main-color
    font-size: 16px

.btn-nohover:hover
    border: none

@import community

// Expand Project Content
.expand-project
    padding: 1rem 1rem 2rem
    visibility: hidden
    height: 0
    box-shadow: 0 -2rem 3rem $main-bg-color

    .btn
        white-space: pre
        border: $main-color 2px dashed

@media (max-width: 576px)
    .expand-project
        visibility: visible
        height: auto

    .project-content
        height: 200px
        overflow: hidden

// Form
.custom-form
    label
        display: block
        line-height: 2rem

        &:focus-within
            border-color: $border-hover-color

            .form-title
                color: $sec-hover-color

            &::before
                border-color: $border-hover-color

            &::after
                border-color: $border-hover-color

    .form-title
        padding: .5rem .75rem
        color: $sec-color

        &:focus
            // border-color: $border-hover-color
            // outline: none

    input
        @extend %input-reset

    textarea
        @extend %input-reset

        height: auto

    span
        padding: 0 0.75rem 0.5rem
        margin: 0

// Member

// verify-page
.new-email
    display: inline-block
    margin-bottom: 16px
    padding: 8px
    background-color: #3C3C3C
    border-radius: 4px
    font-size: 24px

// dashboard
.dashboard
    text-align: center

    input
        @extend %input-reset

        display: inline-block
        width: 10rem

    .update-name
        display: inline-block
        width: 100px

    img
        width: 100%


// history
.history
    .d-flex
        justify-content: space-between
    .no-bdr
        width: auto
        border: none
    h5
        font-weight: bold
    .plan
        width: 60%

// announcement
.announce
    background-color: $sec-bg-color
    border-radius: 4px

    height: 0
    visibility: hidden

@media ( min-width: 576px )
    .announce
        height: auto
        visibility: visible
        padding: 1rem
        margin-bottom: 3rem

// Footer
.footer
    margin-top: 8rem