.wave-btn {
    overflow: hidden;
}

.wave-btn:before {
    content: "";
    position: absolute;
    width: 1500px;
    height: 1500px;
    border-radius: 47%;
    background-color: #008a62;
    opacity: .2;

    box-shadow: 0px 0px 10px 3px #02C874;

    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    animation: wave 10s infinite linear;
}

.wave-btn:hover:before {
    animation: wave 5s infinite linear;
}

@keyframes wave {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}