.verify-box {
    height: 245px;
}


.verify {
    color: #FFF4C1;
    font-weight: 800;
    font-size: 70%;
    padding: 8px;
    width: 350px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (min-width: 576px) {
    .verifybox {
        height: ;
    }
    .verify {
        /*font-size: x-small;*/
    }
}