/*Pulong Temple*/
.pltp-box {
    margin-top: 32px;
    height: 225px;
}
.pltp {
    color: #01B468;
    font-size: 10.5px;
    padding: 4px;
    margin:0;
}

/*Verify*/
.verify-box {
    height: 245px;
}
.verify {
    color: #01B468;
    font-weight: 800;
    font-size: 55%;
    padding: 4px;
}

/*Thx*/
.thx-box {
    margin-top: 32px;
    height: 245px;
}
.thx {
    color: #01B468;
    font-weight: 800;
    font-size: 55%;
    padding: 4px;
}

/*Login*/
.login-ascii-box {
    height: 150px;
}
.login-ascii {
    color: #01B468;
    font-weight: 800;
    font-size: 100%;
    padding: 4px;
}


/*@MEDIA*/
@media (min-width: 768px) {
    /*pulongTemple*/
    .pltp-box {
        height: 425px
    }
    .pltp {
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    /*pulongTemple*/
    .pltp-box {
        height: 525px;
    }
    .pltp {
        font-size: 25px;
    }
    /*thankYou*/
    .thx-box {
        height: 350px;
        margin: 56px 0;
    }
    .thx {
        font-size: 100%;
    }
}
@media (min-width: 1200px) {
    /*pulongTemple*/
    .pltp-box {
        height: 680px;
    }
    .pltp {
        font-size: 32px;
    }
    /*verifyEmail*/
    .verify-box {
        height: 350px;
    }
    .verify {
        font-size: 80%;
    }
}