/*Pulong Temple*/
.pltp-box {
    margin-top: 32px;
    height: 250px;
}
.pltp {
    color: #01B468;
    font-size: 70%;
    padding: 4px;
    margin:0;
}

/*Verify*/
.verify-box {
    height: 245px;
}
.verify {
    color: #01B468;
    font-weight: 800;
    font-size: 55%;
    padding: 4px;
}

/*Thx*/
.thx-box {
    margin-top: 32px;
    height: 245px;
}
.thx {
    color: #01B468;
    font-weight: 800;
    font-size: 55%;
    padding: 4px;
}

/*Login*/
.login-ascii-box {
    height: 150px;
}
.login-ascii {
    color: #01B468;
    font-weight: 800;
    font-size: 100%;
    padding: 4px;
}


/*@MEDIA*/
@media (min-width: 768px) {
    .pltp-box {
        height: 350px
    }
    .pltp {
        font-size: 110%;
    }
}
@media (min-width: 992px) {
    .pltp-box {
        height: 450px;
    }
    .pltp {
        font-size: 140%;
    }

    .thx-box {
        height: 350px;
        margin: 56px 0;
    }
    .thx {
        font-size: 100%;
    }
}
@media (min-width: 1200px) {
    .pltp-box {
        height: 570px;
    }
    .pltp {
        font-size: 180%;
    }

    .verify-box {
        height: 350px;
    }
    .verify {
        font-size: 80%;
    }
}