
/* donate */
.donate {
    width: 100%;
    display: block;
    margin-top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.donate span {
    color: #01814A;
    width: 100%;
    padding: 4px;
    font-family: Arial, 'Noto Serif TC', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-shadow: 0.5px 0.5px 20px #000000;
}

.donate .btn {
    line-height: 1.5;
    padding: 0;
    border-radius: 0;
    border: #01814A 2px solid;
    box-shadow: 0px 0px 3px 0.2px #01814A;
}

.donate .btn:hover {
    border: #01B468 2px solid;
    box-shadow: 0px 0px 5px 0.5px #08af7e;
    color: #01B468;
}

.donate .btn:hover span {
    color: #01B468;
}

/*donated-btn*/
.donated .btn {
    border: #EE583A 2px solid;
    box-shadow: 0px 0px 3px 0.2px #EE583A;
}


.donated .btn span {
    color: #EE583A;
    text-shadow: 0.5px 0.5px 20px #000000;
}

.donated .btn:hover {
    border: #FF775C 2px solid;
    box-shadow: 0px 0px 5px 0.5px #FF775C;
}

.donated .btn:hover span {
    color: #FF775C;
}

.donated .wave-btn:before {
  background-color: #EE583A;
  box-shadow: 0px 0px 10px 3px #EE583A;
}



/*ec-btn*/
.ec-btn {
    width: 250px;
    margin: 0 16px 32px;
}

/*Wave btn*/

.wave-btn {
    overflow: hidden;
}

.wave-btn:before {
    content: "";
    position: absolute;
    width: 1500px;
    height: 1500px;
    border-radius: 47%;
    background-color: #02C874;
    opacity: .15;

    box-shadow: 0px 0px 10px 3px #02F78E;

    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    animation: wave 10s infinite linear;
}

.wave-btn:hover:before {
    animation: wave 5s infinite linear;
}

@keyframes wave {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}



/*Media Query*/

@media (min-width: 576px) {
    .donate {
        margin-top: 1.5px;
        top: 6px;
        width: 200px;
        position: absolute;
        transform: none;
        left: auto;
        right: 24px;

        top: 48%;
        transform: translateY(-50%);
    }

    .donate span {
        padding: 4px 48px;
        line-height: 2;
    }

}

@media (min-width: 768px) {
    .donate {
        width: 340px
    }

    .donate span {
        padding: 8px 48px;
    }
}

@media (min-width: 992px) {
    .donate {
        right: 40px;
    }
}

@media (min-width: 1200px) {
    .donate {
        right: 150px;
    }
}
