.logo a .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity;
}
.logo:hover a .swap-on-hover__front-image {
  opacity: 0;
}

.btn {
  color: #01B468;
  border: #01B468 1.5px solid;
  border-radius: 0;
  width: 100%;
  display: inline-block;
  font-family: Courier New, 儷黑 Pro, 微軟正黑體;
}
.btn span {
  display: inline-block;
}
.btn:hover {
  color: #02F78E;
  border: #02F78E 1.5px solid;
}
.btn:focus {
  box-shadow: none;
}

.nav-link {
  font-family: 微軟正黑體;
  color: #01B468 !important;
}
.nav-link:hover {
  color: #02F78E !important;
}
.active {
  color: #02F78E !important;
  border: dashed;
  border-width: 2px;
  border-color: #01814A;
}

/* donate */
.donate {
  display: block;
  margin-top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.donate .btn {
  padding: 0;
}
.donate span {
  padding: 16px 120px;
  font-family: Impact, Arial Black, Courier New, 儷黑 Pro, 微軟正黑體;
  font-size: 20px;
  font-weight: 800;
}

/* donate .btn */
.donate .btn {
  border-radius: 0;
  border: #01814A 2px solid;
  /*box-shadow: 0px 0px 3px 0.2px #01814A;*/
}


.donate .btn span {
  color: #01814A;
  text-shadow: 0.5px 0.5px 20px #000000;
}

.donate .btn:hover {
  border: #01B468 2px solid;
  /*box-shadow: 0px 0px 5px 0.5px #08af7e;*/
}

.donate .btn:hover span {
  color: #01B468;
}

/*login-btn*/
.login .btn {
  width: 120px;
}

/*more-btn*/
.more-btn {
  display: block;
  margin: 8px;
}

/* btn-4 */
/*.btn-4 {
  margin-top: 8px;
  color: #02DF82;
  border: #02DF82 1px solid;
  width: 120px;
  height: 32px;
  line-height: 28px;
  font-size: 16px;
}

.btn-4:hover {
  color: #02F78E;
  border: #02F78E 1.5px solid;
}
*/

/* btn-5 */
/*.btn-5 {
  color: #02DF82;
  border: #02DF82 1px solid;
  width: 100%;
  margin: 4px;
}

.btn-5:hover {
  color: #02F78E;
  border: #02F78E 1.5px solid;
}

.btn-5:active:after {
  width: 0%;
}
*/


/*Wave btn*/

.wave-btn {
    overflow: hidden;
}
.wave-btn:before {
    content: "";
    position: absolute;
    width: 1500px;
    height: 1500px;
    border-radius: 47%;
    background-color: #02C874;
    opacity: .15;

    box-shadow: 0px 0px 10px 3px #02F78E;

    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    animation: wave 10s infinite linear;
}
.wave-btn:hover:before {
    animation: wave 5s infinite linear;
}
@keyframes wave {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}


/*Media Query*/

@media (min-width: 576px) {
  .donate {
    margin-top: 1.5px;
    top: 6px;
    width: 200px;
    position: absolute;
    transform: none;
    left: auto;
    right: 24px;
  }

  .donate span {
    padding: 16px 52px;
  }

  .btn-1 a {
    width: 190px;
  }
}

@media (min-width: 768px) {
  .donate {
    right: 40px;
    width: 340px
  }

  .donate span {
    padding: 16px 122px;
  }

  .btn-1 a {
    width: 330px;
  }
}

@media (min-width: 992px) {
  /**/
}

@media (min-width: 1200px) {
  .donate {
    right: 160px;
  }


}