.c-box {
    padding: 32px 16px;
    color: #02DF82;
}

.custom-card {
    background-color: #1a1a1a;
    border: #02DF82 1px solid;
    font-size: 18px;
    font-family: Courier New, 儷黑 Pro, 微軟正黑體;
}

.custom-card .card-header {
    border-bottom: #02DF82 1px solid;
}

.custom-card input {
    color: #00290A;
    background-color: #6BB382;
}


.custom-card .form-control:focus {
    color: #00290A;
    background-color: #C1FFE4;
    border-color: #7AFEC6;
    box-shadow: 0 0 0 2px #7AFEC6;
}

.custom-card .btn-box {
    bottom: 0px;
}

.form-control {
    border: 1px solid #02DF82;
}


/*donate-page*/

.inform {
    padding: 16px 0;
}

.to-login {
    padding: 16px;
}

.donate-form {
    padding: 8px;
}

.donate-form .card-body {
    padding: 16px 0;
}

.donate-form input,
.donate-form textarea {
    margin-bottom: 16px;
    border-radius: 0;
}

.donate-form textarea {
    height: 96px;
    resize: none;
}

.comment {
    background-color: #6BB382;
}

.send {
    padding: 8px 64px 4px 64px;
}

.amount {
    text-align: right;
    font-size: 72px;
    font-family: Impact, Arial Black;
    background-image: url("../image/NT.png");
    background-size: contain;
    background-position: 16px 0;
    background-repeat: no-repeat;
    padding-left: 120px;
}

.progress-box {
    padding: 16px 16px;
}

.progress-box .progress-circle {
    padding: 32px;
}

/*verify*/
.new-email {
  display: inline-block;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #3C3C3C;
  border-radius: 4px;
  font-size: 24px;
}