.c-box {
    padding: 32px 16px;
    color: #FFF8D7;
}

.custom-card {
    background-color: #1a1a1a;
    border: #FFF8D7 1px solid;
    font-size: 18px;
    font-family: Courier New, 儷黑 Pro, 微軟正黑體;
}

.custom-card .card-header {
    border-bottom: #FFF8D7 1px solid;
}

.custom-card input {
    color: #272727;
    background-color: #D6D6AD;
}


.custom-card .form-control:focus {
    color: #272727;
    background-color: #E8E8D0;
    border-color: #FFED97;
    box-shadow: 0 0 0 2px #FFED97;
}

.custom-card .btn-box {
    bottom: 0px;
}

.donate-form input {
    margin-bottom: 16px;
}

.inform {
    padding: 16px;
}

.comment {
    background-color: #D6D6AD;
}

.send {
    padding: 8px 64px 4px 64px;
}

