.custom-card {
    background-color: rgb(0, 0, 0, 0);
    font-size: 18px;
    font-family: Courier New, 儷黑 Pro, 微軟正黑體;
}
.card {
    border: none;
}
.card-header {
    border-bottom: #01814A 2px solid;
}
.custom-card input {
    color: #00290A;
    background-color: #6BB382;
}
.custom-card .form-control:focus {
    color: #00290A;
    background-color: #C1FFE4;
    border-color: #7AFEC6;
    box-shadow: 0 0 0 1px #7AFEC6;
}



/*Donate-page*/
.donate-box {
    overflow: hidden;
    margin-bottom: 32px;
}
.inform {
    padding: 16px 0;
}
.to-login {
    padding: 16px;
}
.donate-form {
    width: 100%;
    border-radius: 0;
    border-left: #01814A 2px solid;
}
.donate-form .card-body {
    padding: 16px;
}
.donate-form input,
.donate-form textarea {
    margin-bottom: 16px;
    border-radius: 0;
}
.donate-form textarea {
    height: 96px;
    resize: none;
}
.comment {
    background-color: #6BB382;
}
.send {
    padding: 8px 64px 4px 64px;
}
.amount {
    text-align: right;
    font-size: 72px;
    font-family: Impact, Arial Black;
    background-image: url("../image/NT.png");
    background-size: contain;
    background-position: 16px 0;
    background-repeat: no-repeat;
    padding-left: 120px;
}
.progress-box {
    width: 100%;
    padding: 16px;
}
.progress-circle {
    padding: 32px;
}


/*verify-page*/
.verify-email {
    margin-top: 24px;
}
.verify-email .card-body {
    padding: 24px;
}
.verify-email .card-body {
    padding: 16px;
}
.new-email {
  display: inline-block;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #3C3C3C;
  border-radius: 4px;
  font-size: 24px;
}


/*login-page*/
.login-box {
    height: 365px;
}


/*Dashboard*/
.dashboard {
    margin-top: 24px;
}
.dashboard .card-header {
    border: none;
}
.dashboard .card-body {
    text-align: center;
    padding-top: 0;
}
.img-dashboard {
    margin-bottom: 16px;
}
.dashboard form {
    padding-bottom: 24px;
}
.dashboard .form-control {
    display: inline-block;
    width: 180px;
    height: 60px;
}
.dashboard .btn {
    margin-bottom: 8px;
}
.update-name {
    display: inline-block;
    width: 103px;
    height: 60px;
}


/*my donation*/
.donation {
    padding-top: 32px;
}
.donation table {
    border: double;
    border-width: 9px;
    border-color: #01814A;
}
.d_project {
    width: 200px;
}
.d_amount {
    width: 80px;
}


/*my project*/
.my_p {
    padding-top: 32px;
}
.my_p table {
    border: double;
    border-width: 9px;
    border-color: #01814A;
}


/*Media Query*/
@media (min-width: 992px) {
    .donate-form .card-body {
        padding: 32px;
    }
}