/*login-page*/
.login-box {
    min-height: 400px;
    margin-bottom: 32px;
}


/*Dashboard*/
.dashboard {
    margin-top: 24px;
}
.dashboard .card-header {
    border: none;
}
.dashboard .card-body {
    text-align: center;
    padding-top: 0;
}
.img-dashboard {
    margin-bottom: 16px;
}
.dashboard form {
    padding-bottom: 24px;
}
.dashboard .form-control {
    display: inline-block;
    width: 180px;
    height: 60px;
}
.update-name {
    display: inline-block;
    width: 103px;
    height: 60px;
}


/*my donation*/
.donation {
    padding-top: 32px;
}
.donation table {
    border: double;
    border-width: 9px;
    border-color: #01814A;
}
.d_project {
    width: 200px;
}
.d_amount {
    width: 80px;
}


/*my project*/
.my_p {
    padding-top: 32px;
}
.my_p table {
    border: double;
    border-width: 9px;
    border-color: #01814A;
}

