/*Layout*/



/*min-top*/
.top-img {
    justify-content: center;
    padding: 8px;
    margin: 0;
}

.img-min {
    padding: 16px;
    width: 240px;
    height: 160px;
}


/*Min-top Component*/

.bottom-content {
    color: #BEBEBE;
    /* padding-top: 2rem; */
    margin: 1rem 0 6rem;
}



/*faq*/
.answer {
    display: inline-block;
    margin: 4px;
    padding: 8px;
    line-height: 24px;
    font-size: 18px;
    background-color: #3C3C3C;
    border-radius: 4px;
    max-width: calc(100% - 10px);
    overflow-wrap: break-word;
}



.Bbox {
    display: inline-block;
    padding: 8px 4px;
}


/* Plan */
.plan {
    /* font-family: 'Noto Serif TC', serif; */
}

/*Media Query*/

@media (min-width: 576px) {
    .img-min {
        width: auto;
        height: auto;
    }

    .update {
        padding: 24px;
        margin-bottom: 36px;
    }

}

@media (min-width: 992px) {
    .donated {
        padding: 20px 40px 0 !important;
        font-size: 24px;
    }

    .top-content {
        /* for collapse */
        margin: 2rem 40px;
    }

    .bottom-content {
      margin: 3rem 40px 6rem;
    }

    .img-main {
        padding: 1rem;
    }

    .update-content {
        /* max-height: 600px; */
    }
}

@media (min-width: 1200px) {
    .donated {
        padding: 1rem 150px 0;
    }

    .top-content {
        /* for margin collapse */
        margin: 2rem 150px;
    }

    .bottom-content {
        margin: 3rem 150px 6rem;
    }

    .footer {
        padding: 56px 150px;
    }
}
