/*Layout*/



/*min-top*/
.top-img {
    justify-content: center;
    padding: 8px;
    margin: 0;
}

.img-min {
    padding: 16px;
    width: 240px;
    height: 160px;
}


/*Min-top Component*/

.bottom-content {
    color: #BEBEBE;
    padding-top: 2rem;
}



/*faq*/
.answer {
    display: inline-block;
    margin: 4px;
    padding: 8px;
    line-height: 24px;
    font-size: 18px;
    background-color: #3C3C3C;
    border-radius: 4px;
}


/*gallery*/
.gallery .usr-img {
    margin: 0;
}

.Bbox {
    display: inline-block;
    padding: 8px 4px;
}

/* .donated {
    font-family: 'Noto Serif TC', serif;
    font-style: italic;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF;
    animation: neon-shine 5s infinite;
}

@keyframes neon-shine {
    0% {text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF;}
    50% {text-shadow: 0 0 1px #00FFFF, 0 0 5px #00FFFF;}
    100% {text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF;}
} */

/* Plan */
.plan {
    /* font-family: 'Noto Serif TC', serif; */
}

/*Media Query*/

@media (min-width: 576px) {
    .img-min {
        width: auto;
        height: auto;
    }

    .update {
        padding: 24px;
        margin-bottom: 36px;
    }

}

@media (min-width: 992px) {
    .donated {
        padding: 20px 40px 0 !important;
        font-size: 24px;
    }

    .top-content,
    .bottom-content {
        padding: 2rem 40px;
    }

    .footer {
        padding: 56px 40px;
    }

    .img-main {
        padding: 1rem;
    }

    /* .img-main,
    .intro {
        border: solid;
        border-width: 2px;
        border-color: rgb(1, 126, 72);
    } */

    /* .intro {
        padding: 16px;
        border-left: none;
    } */

    .update-content {
        max-height: 600px;
    }
}

@media (min-width: 1200px) {
    .donated {
        padding: 1rem 150px 0;
    }

    .top-content {
        padding: 2rem 150px;
    }
    
    .bottom-content {
        padding: 3rem 150px;
    }

    .footer {
        padding: 56px 150px;
    }
}
