

/*Utility*/
.color-prime {
    color: #019857;
}

.color-sec {
    color: #ccc !important;
}

.fs-12 {
    font-size: 12px;
}

.fs-18 {
    font-size: 18px;
}

.ab-rb {
    position: absolute;
    right: 0;
    bottom: 0;
}

.max-w-200 {
    max-width: 200px;
}

.inline-b {
    display: inline-block;
}

.u-cf:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.overf-v {
    overflow: visible;
}

.ab-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ff-2P {
    font-family: "Press Start 2P";
}

.serif-tc {
    font-family: 'Noto Serif TC', serif;
}


/*Component*/
/*neon*/
.pltp-box-neon {
    padding: 48px 0 16px;
    width: 100%;
    /*height: 400px;*/
    text-align: center;
}
.neon {
    font-family: 'Kumar One Outline', cursive;
    font-weight: 500;
    font-size: 15vw;
    line-height: 18vw;
    letter-spacing: 1.5vw;
    color: #fff;

    opacity: 0;
    text-shadow:
        0 0 5px rgba(1, 178, 104, 1),
        0 0 10px rgba(1, 178, 104, 1),
        0 0 20px rgba(1, 178, 104, 1),
        0 0 40px rgba(1, 178, 104, 1),
        0 0 50px rgba(1, 178, 104, .8),
        0 0 60px rgba(1, 178, 104, 1),
        0 0 70px rgba(1, 178, 104, .6);
    animation:
        easelight 5s cubic-bezier(.4,0,.3,0) both;
}

.neon:nth-of-type(1) {
    animation:
        easelight 5s cubic-bezier(.4,0,.3,0) both,
        shine-a 10s linear 15s infinite;
}

.neon:nth-of-type(9) {
    animation:
        easelight-x 10s cubic-bezier(.4,0,.3,0) both;
}

.neon:nth-of-type(11) {
    animation:
        easelight 5s cubic-bezier(.4,0,.3,0) both,
        shine-b 10s linear 18s infinite;
}

@keyframes easelight {
    0% {opacity: .05}
    100% {opacity: 1}
}

@keyframes easelight-x {
    0% {opacity: .05}
    50% {opacity: .5}
    60% {opacity: .5}
    62% {opacity: 0}
    64% {opacity: .5}
    70% {opacity: .5}
    70.1% {opacity: 0}
    79% {opacity: 0}
    80% {opacity: .5}
    81% {opacity: 0}
    82% {opacity: .5}
    83% {opacity: 0}
    84% {opacity: .5}
    85% {opacity: 0}
    99.9% {opacity: 0}
    100% {opacity: 1}
}

@keyframes shine-a {
    0% {opacity: 0}
    4% {opacity: 0}
    5% {opacity: 1}
    6% {opacity: 0}
    7% {opacity: 1}
    100% {opacity: 1}
}

@keyframes shine-b {
    0% {opacity: 0}
    1% {opacity: 1}
    2% {opacity: 0}
    3% {opacity: 1}
    4% {opacity: 0}
    5% {opacity: 1}
    100% {opacity: 1}
}

.arrow-box {
    display: none;
    height: 64px;
}

.arrow {
    display: none;
    color: rgb(28, 253, 155, .3);
    font-size: 3vw;
    line-height: .6vw;
    opacity: 0;
}

.arrow:nth-of-type(1) {
    animation: shine 6s cubic-bezier(.5,0,0,.6) 11s infinite;
}
.arrow:nth-of-type(2) {
    animation: shine 6s cubic-bezier(.5,0,0,.6) 12.5s infinite;
}
.arrow:nth-of-type(3) {
    animation: shine 6s cubic-bezier(.5,0,0,.6) 14s infinite;
}

@keyframes shine {
    0% {opacity: 0}
    24.9% {opacity: 1}
    25% {opacity: 0}
}

/*bdr*/
.custom-bdr {
    border: solid;
    border-width: 2px;
    border-color: #01814A;
    border-radius: 0;
}

.custom-bdr-bm {
    border-bottom: #01814A 2px solid;
}

.hover-bdr:hover {
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-color: #02C874;
}

/*image*/
.imgbox {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.imgbox-inner {
    width: 100%;
    padding-top: 66.66667%;
    height: 0;
    position: relative;
}

.imgbox .image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 25%;
}

.width-img {
    width: 100%;
    padding: 24px 0;
}


/*login*/
.login {
    top: 50%;
    padding: 0;
    padding-right: 16px;
    transform: translateY(-50%);
    float: right;
    margin: 0;
}

/*product*/

.product-box {
    padding: 16px;
    animation: easelight 5s cubic-bezier(.4,0,.3,0) both;
}

.product {
    padding: 0;
    top: 0;
    transition: all .3s ease;
}

.product:hover {
    cursor: pointer;
    border: #02C874 2px solid;
    top: -2px;
}

.product-head {
    font-size: 20px;
    padding: 16px;
}

.product .custom-bdr-bm {
    transition: inherit;
}

.product:hover .custom-bdr-bm {
    cursor: pointer;
    border-bottom: #02C874 2px solid;
    color: #02C874;
}

.product-head .btn {
    border: none;
}

.product-head .btn:hover {
    border: none;
}

.product-body {
    padding: 16px;
}

.product .imgbox {
    opacity: .5;
    transition: inherit;
}

.product:hover .imgbox {
    opacity: 1;
}

.product-summary {
    padding: 8px 0 0;
    height: 84px;
    overflow: hidden;
}


/*progress*/
.product-progress{
    padding: 8px 0 ;
}

.progress {
    width: 100%;
    height: 24px;
    border-radius: 0;
}

.progress span {
    z-index: 999;
    color: #1a1a1a;
    font-size: 16px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.progress-wrap {
    background: #01B468;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    background: #ADADAD;
    left: 0;
    position: absolute;
    top: 0;
}

.time-nt {
    height: 40px;
    padding: 8px 16px;
}
.product-progress-time {
    float: left;
    font-size: 14px;
}

.product-progress-nt {
    float: right;
    font-size: 14px;
}

/*project Card*/
.p-card-box {
    padding: 16px 0;
}

.p-card-head {
    padding: 8px;
    border-bottom: #01814A 2px solid;
}

.p-card-body {
    padding: 8px;
}

.p-card-body .btn {
    width: 60%;
    font-size: 18px;
}

.p-card-nt {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.p-card-footer {
    padding: 8px;
}

/*footer*/
.footer {
    border-top: rgb(1, 126, 72, .6) 1px solid;
    margin-top: 72px;
    padding: 56px 32px;
}

.footer-content {
    padding: 16px;
    /*height: 150px;*/
}

/*long-text*/
.long-text {
    max-width: 720px;
    line-height: 30px;
}

.long-text h3,
.long-text h4 {
    line-height: 56px;
    font-weight: 600;
}

.long-text li {
    list-style: circle;
}

/*media query*/
@media (min-width: 992px) {
    ul.login {
        padding: 0;
    }

    .pltp-box-neon {
        padding: 96px 0;
    }

    .neon {
        font-size: 12vw;
        line-height: 15vw;
    }

    .arrow-box {
        display: block;
    }

    .arrow {
        display: inline-block;
    }
}
