/*Base*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    list-style-type: none;
    text-decoration: none;
}

html,
body {
    background-color: #1a1a1a;
    font-family: 'Noto Sans TC', 'Noto Serif TC', serif;
    font-size: 16px;
    color: #ccc;
}

a {
    color: #019858;
}

a:hover {
    color: #02F78E;
    text-decoration: none;
}

/*hr*/
hr.hr-prime {
    /*height: 5px;*/
    border-bottom: 1px solid #9D9D9D;
    padding: 0;
    margin: 8px 0 16px;
    color: #8c8c8c !important;
}

/*table*/
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    height: 73px;
    padding: 8px;
}

th {
    height: 56px;
}

tr:nth-child(even) {
    background-color: #212121;
}



/*Utility*/
.color-prime {
    color: #019857;
}

.color-sec {
    color: #ccc !important;
}

.pd-12 {
    padding: 12px;
}

.pd-32 {
    padding: 32px;
}
.pd-lr-8 {
    padding: 0 8px;
}

.mg-bottom-16 {
    margin-bottom: 16px;
}

.fs-12 {
    font-size: 12px;
}

.fs-18 {
    font-size: 18px;
}

.ab-rb {
    position: absolute;
    right: 0;
    bottom: 0;
}

.max-w-200 {
    max-width: 200px;
}

.inline-b {
    display: inline-block;
}

.u-cf:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.overf-v {
    overflow: visible;
}

.ab-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ff-2P {
    font-family: "Press Start 2P";
}

/*Component*/

/*bdr*/
.custom-bdr {
    border: solid;
    border-width: 2px;
    border-color: #01814A;
    border-radius: 0;
}

.custom-bdr-bm {
    border-bottom: #01814A 2px solid;
}

/*image*/
.imgbox {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.imgbox-inner {
    width: 100%;
    padding-top: 66.66667%;
    height: 0;
    position: relative;
}

.imgbox .image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 25%;
}

.width-img {
    width: 100%;
    padding: 24px 0;
}

/*navbar*/
.nav-top {
    height: 70px;
}

.nav-top,
.navbar {
    background-color: #1a1a1a;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(1, 126, 72);
    box-shadow: 0 2px 0 1px #1a1a1a;
    z-index: 4999;
}

/*logo*/
.logo {
    top: 50%;
    padding-left: 16px;
    transform: translateY(-30px);
}

.logo img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 60px;
    height: 60px;
}

/*login*/
.login {
    top: 50%;
    padding: 0;
    padding-right: 16px;
    transform: translateY(-50%);
    float: right;
    margin: 0;
}

/*product*/

.product-box {
    padding: 16px;
}

.product {
    padding: 0;
}

.product:hover {
    cursor: pointer;
    border: #02C874 2px solid;
}


.product-head {
    font-size: 20px;
    padding: 16px;
}

.product:hover .custom-bdr-bm {
    cursor: pointer;
    border-bottom: #02C874 2px solid;
    color: #02C874;
}

.product-head .btn {
    border: none;
}

.product-head .btn:hover {
    border: none;
}

.product-body {
    padding: 16px;
}

.product-summary {
    padding: 16px 0;
    height: 80px;
    overflow: hidden;
}

/*progress*/
.product-progress{
    padding: 8px 0 ;
}

.progress {
    width: 100%;
    height: 24px;
    border-radius: 0;
}

.progress span {
    z-index: 999;
    color: #1a1a1a;
    font-size: 16px;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.progress-wrap {
    background: #01B468;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    background: #ADADAD;
    left: 0;
    position: absolute;
    top: 0;
}

.time-nt {
    height: 40px;
    padding: 8px 16px;
}
.product-progress-time {
    float: left;
    font-size: 14px;
}

.product-progress-nt {
    float: right;
    font-size: 14px;
}

/*project Card*/
.p-card-box {
    padding: 16px 0;
}

.p-card-head {
    padding: 8px;
    border-bottom: #01814A 2px solid;
    ;
}

.p-card-body {
    padding: 8px;
}

.p-card-body .btn {
    width: 60%;
    font-size: 18px;
}

.p-card-nt {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.my-project-nt {
    font-size: 14px;
}

.p-card-footer {
    padding: 8px;
    font-size: 12px;
}

/*footer*/
.footer {
    border-top: rgb(1, 126, 72, .6) 1px solid;
    margin-top: 72px;
    padding: 56px 32px;
}

.footer-content {
    padding: 16px;
    /*height: 150px;*/
}

/*long-text*/
.long-text {
    max-width: 720px;
    line-height: 30px;
}

.long-text h3,
.long-text h4 {
    line-height: 56px;
    font-weight: 600;
}

.long-text li {
    list-style: circle;
}

/*.long-text*/


/*media query*/
@media (min-width: 992px) {
    ul.login {
        padding: 0;
    }
}
