* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  list-style-type: none;
  text-decoration: none;
}

html, body {
  background-color: #000;
  font-family: 'Noto Sans TC', 'Noto Serif TC', serif;
  font-size: 16px;
  color: #ccc;
}

a {
  color: #019858;
}

a:hover {
  color: #02F78E;
}

hr {
  border-top: 1px solid #9D9D9D;
}

.f-titile {
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 0.04rem #019858;
}

.custom-bdr {
  border: solid;
  border-width: 2px;
  border-color: #01814A;
  border-radius: 0;
}

.custom-bdr-bm {
  border-bottom: #01814A 2px solid;
}

.hover-bdr:hover {
  cursor: pointer;
  border: solid;
  border-width: 2px;
  border-color: #02C874;
}

.nav-top, .nav-mid {
  background-color: #000;
  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgba(1, 126, 72, 0.4);
  -webkit-box-shadow: 0 2px 0 1px #000;
          box-shadow: 0 2px 0 1px #000;
  z-index: 4999;
}

.nav-top {
  height: 70px;
  border-top: none;
}

.nav-mid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 8px;
  padding-bottom: 6px;
}

@media (min-width: 576px) {
  .nav-mid {
    height: 85px;
  }
}

@media (min-width: 992px) {
  .nav-top, .nav-mid {
    padding: 12px 72px;
    height: 90px;
  }
  .nav-item {
    min-width: 100px;
    padding: 0 8px;
  }
}

@media (min-width: 1200px) {
  .nav-top, .nav-mid {
    padding: 12px 200px;
  }
}

.logo a, .logo a:hover, .logo a:focus {
  -webkit-box-shadow: 0 0 2px #01b268, 0 0 4px rgba(1, 178, 104, 0.8), 0 0 6px rgba(1, 178, 104, 0.6), 0 0 8px rgba(1, 178, 104, 0.6), 0 0 10px rgba(1, 178, 104, 0.4);
          box-shadow: 0 0 2px #01b268, 0 0 4px rgba(1, 178, 104, 0.8), 0 0 6px rgba(1, 178, 104, 0.6), 0 0 8px rgba(1, 178, 104, 0.6), 0 0 10px rgba(1, 178, 104, 0.4);
}

.logo a span {
  text-shadow: 0 0 1px #01b268, 0 0 2px #01b268, 0 0 3px rgba(1, 178, 104, 0.8);
}

.logo {
  padding-left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}

.logo a {
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #ccc;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.logo a span {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 28px;
  line-height: 28px;
  -webkit-transform: translate(-1.5px, -4px) perspective(0.5rem) rotateX(15deg);
          transform: translate(-1.5px, -4px) perspective(0.5rem) rotateX(15deg);
}

.logo a:hover, .logo a:focus {
  color: #fff;
  border: 2px solid #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.login {
  top: 50%;
  padding-right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  float: right;
}

.login > li > a {
  min-width: 80px;
  max-width: 100%;
  font-family: 'Share Tech Mono', monospace, 'Noto Serif TC', serif;
  font-weight: 600;
  color: #019858;
  border-color: #019858;
  border-width: 2px;
  -webkit-box-shadow: 0 0 8px 2px #019858;
          box-shadow: 0 0 8px 2px #019858;
}

.login span {
  color: #019858;
}

.login .dropdown {
  border-color: #02C874;
  display: block;
  position: absolute;
  right: 0;
  top: 120%;
  background-color: #000;
  border-width: 1px;
  -webkit-box-shadow: 0px 0px 2px 2px #000;
          box-shadow: 0px 0px 2px 2px #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login .dropdown li {
  display: block;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.login .dropdown > li > a {
  font-family: 'Noto Serif TC', serif;
  display: block;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.login > li:hover > a {
  color: #02F78E;
  border-color: #02F78E;
  border-width: 2px;
  -webkit-box-shadow: 0 0 8px 1px #02F78E;
          box-shadow: 0 0 8px 1px #02F78E;
}

.login > li:hover span {
  color: #02F78E;
}

.login > li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 110%;
}

.white-btn {
  color: #ccc;
}

.white-btn:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .logo {
    padding: 0;
  }
  .login {
    padding: 0;
  }
}

.intro {
  padding: 1rem;
}

.status {
  padding: 0 15px;
}

.goal {
  padding: 0;
}

.description {
  font-family: 'Noto Sans TC', 'Noto Serif TC', serif;
  font-size: 20px;
  line-height: 30px;
}

.bottom-content {
  padding-top: 15px;
}

.project-content img {
  max-width: 100%;
  height: auto;
}

.select-title {
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 0.04rem #019858;
}

.select {
  background-color: #6BB382;
  width: 120px;
  margin: 0 16px 16px 0;
}

.custom-card .text-select {
  background-color: transparent;
  border: none;
  display: inline-block;
  width: 48px;
  text-align: right;
  margin: 0;
}

.custom-card .select .text-select:focus {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-card .btn-select {
  background-color: transparent;
  width: auto;
  border: none;
  padding: 0 4px 8px;
  margin: 0;
  color: #019858;
  font-size: 16px;
}

.btn-select:hover {
  border: none;
}

.rank table {
  border-collapse: collapse;
  width: 100%;
}

.rank table th {
  height: 56px;
}

.rank table th, .rank table td {
  -webkit-text-emphasis: center;
          text-emphasis: center;
  height: 73px;
}

.expand-project {
  padding: 2rem 1rem;
  visibility: hidden;
  height: 0;
}

.expand-project .btn {
  white-space: pre;
  border-style: dashed;
  border-color: #019858;
  border-width: 2px;
}

@media (max-width: 576px) {
  .expand-project {
    visibility: visible;
    height: auto;
  }
  .project-content {
    max-height: 200px;
    overflow: hidden;
  }
}
/*# sourceMappingURL=ultimate.css.map */