* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  list-style-type: none;
  text-decoration: none;
  -webkit-text-size-adjust: none !important;
}

html, body {
  background-color: #000;
  font-family: "Noto Sans TC", "Noto Serif TC", serif;
  font-size: 16px;
  color: #ccc;
}

a {
  color: #019858;
}

a:hover {
  color: #02F78E;
}

hr {
  border-top: 1px solid #333;
}

.custom-form input, .custom-form textarea, .dashboard input {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0.75rem;
  padding-left: 0.5rem;
  line-height: 2rem;
  background-color: #000;
  color: #ccc;
  border: rgba(1, 126, 72, 0.4) 1px solid;
}

.custom-form input:focus, .custom-form textarea:focus, .dashboard input:focus {
  border: #02C874 1px solid;
  outline: none;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: #02C874 1px solid;
  -webkit-text-fill-color: #02F78E;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.thd-color {
  color: #888;
}

.f-titile {
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 0.04rem #019858;
}

.btn {
  color: #019858;
  border: #019858 1.5px solid;
  border-radius: 0;
  width: 100%;
  display: inline-block;
  font-family: 'Share Tech Mono', monospace, 'Noto Sans TC', serif;
  padding: 0.5rem 1rem;
}

.btn span {
  display: inline-block;
}

.btn:hover {
  color: #02F78E;
  border: #02F78E 1.5px solid;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-bdr, .custom-bdr-3d, .custom-bdr-3d::before, .custom-bdr-3d::after {
  border: #01814A 2px solid;
  border-radius: 0;
}

.custom-bdr-bm {
  border-bottom: #01814A 2px solid;
}

.custom-bdr-dark, .custom-bdr-dark-3d, .custom-bdr-dark-3d::before, .custom-bdr-dark-3d::after {
  border: rgba(1, 126, 72, 0.4) 2px solid;
  border-radius: 0;
}

.custom-bdr-dark-bm {
  border-bottom: rgba(1, 126, 72, 0.4) 2px solid;
}

.hover-bdr:hover {
  cursor: pointer;
  border-color: #02C874;
}

.custom-bdr-3d {
  margin-top: 3rem;
  margin-right: 1.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.custom-bdr-3d::before, .custom-bdr-3d::after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  content: "";
}

.custom-bdr-3d::before {
  border-bottom: none;
  border-left-width: 3px;
  border-right-width: 3px;
  width: 100%;
  -webkit-transform: translateY(-100%) skew(-45deg);
          transform: translateY(-100%) skew(-45deg);
  height: 17px;
  left: 7px;
  top: -2px;
}

.custom-bdr-3d::after {
  border-top: none;
  border-left: none;
  border-top-width: 3px;
  border-bottom-width: 3px;
  height: 100%;
  width: 17.5px;
  -webkit-transform: translateX(100%) skewY(-45deg);
          transform: translateX(100%) skewY(-45deg);
  top: -10px;
  right: -2px;
}

.custom-bdr-3d > .btn {
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.custom-bdr-3d > .btn:hover {
  border: none;
}

.custom-bdr-3d input, .custom-bdr-3d textarea {
  width: 90%;
}

.custom-bdr-3d-hover:hover {
  cursor: pointer;
  border-color: #02C874;
}

.custom-bdr-3d-hover:hover::before {
  border-color: #02C874;
}

.custom-bdr-3d-hover:hover::after {
  border-color: #02C874;
}

.custom-bdr-dark-3d {
  margin-top: 3rem;
  margin-right: 1.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.custom-bdr-dark-3d::before, .custom-bdr-dark-3d::after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  content: "";
}

.custom-bdr-dark-3d::before {
  border-bottom: none;
  border-left-width: 3px;
  border-right-width: 3px;
  width: 100%;
  -webkit-transform: translateY(-100%) skew(-45deg);
          transform: translateY(-100%) skew(-45deg);
  height: 17px;
  left: 7px;
  top: -2px;
}

.custom-bdr-dark-3d::after {
  border-top: none;
  border-left: none;
  border-top-width: 3px;
  border-bottom-width: 3px;
  height: 100%;
  width: 17.5px;
  -webkit-transform: translateX(100%) skewY(-45deg);
          transform: translateX(100%) skewY(-45deg);
  top: -10px;
  right: -2px;
}

.custom-bdr-dark-3d .btn {
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.custom-bdr-dark-3d .btn:hover {
  border: none;
}

.custom-bdr-dark-3d input, .custom-bdr-dark-3d textarea {
  width: 90%;
}

.nav-top, .nav-mid {
  background-color: #000;
  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgba(1, 126, 72, 0.4);
  -webkit-box-shadow: 0 2px 0 1px #000;
          box-shadow: 0 2px 0 1px #000;
  z-index: 4999;
}

.nav-top {
  height: 70px;
  border-top: none;
}

.nav-mid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 8px;
  padding-bottom: 6px;
}

@media (min-width: 576px) {
  .nav-mid {
    height: 85px;
  }
}

@media (min-width: 992px) {
  .nav-top, .nav-mid {
    padding: 12px 72px;
    height: 90px;
  }
  .nav-item {
    min-width: 100px;
    padding: 0 8px;
  }
}

@media (min-width: 1200px) {
  .nav-top, .nav-mid {
    padding: 12px 200px;
  }
}

.logo a, .logo a:hover, .logo a:focus {
  -webkit-box-shadow: 0 0 2px #01b268, 0 0 4px rgba(1, 178, 104, 0.8), 0 0 6px rgba(1, 178, 104, 0.6), 0 0 8px rgba(1, 178, 104, 0.6), 0 0 10px rgba(1, 178, 104, 0.4);
          box-shadow: 0 0 2px #01b268, 0 0 4px rgba(1, 178, 104, 0.8), 0 0 6px rgba(1, 178, 104, 0.6), 0 0 8px rgba(1, 178, 104, 0.6), 0 0 10px rgba(1, 178, 104, 0.4);
}

.logo a span {
  text-shadow: 0 0 1px #01b268, 0 0 2px #01b268, 0 0 3px rgba(1, 178, 104, 0.8);
}

.logo {
  padding-left: 1rem;
}

.logo a {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #ccc;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.logo a span {
  width: 31px;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 28px;
  line-height: 28px;
  -webkit-transform: translate(-1.5px, -6px) perspective(0.5rem) rotateX(15deg);
          transform: translate(-1.5px, -6px) perspective(0.5rem) rotateX(15deg);
}

.logo a:hover, .logo a:focus {
  color: #fff;
  border: #fff 2px solid;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.login > li > a {
  min-width: 100px;
  max-width: 100%;
  font-family: "Share Tech Mono", monospace, "Noto Serif TC", serif;
  font-weight: 600;
  font-size: 18px;
  color: #019858;
  border-color: rgba(1, 126, 72, 0.4);
  border-width: 2px;
}

.login span {
  color: #019858;
}

.login .dropdown {
  border-color: #02C874;
  display: block;
  position: absolute;
  right: 0;
  top: 120%;
  background-color: #000;
  border-width: 1px;
  -webkit-box-shadow: 0px 0px 2px 2px #000;
          box-shadow: 0px 0px 2px 2px #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.login .dropdown li {
  display: block;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.login .dropdown a {
  font-family: "Share Tech Mono", monospace, "Noto Serif TC", serif;
  font-weight: 600;
  display: block;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.login > li:hover > a {
  color: #02F78E;
  border-color: #02F78E;
  border-width: 2px;
}

.login > li:hover span {
  color: #02F78E;
}

.login > li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 110%;
}

.white-btn {
  color: #ccc;
}

.white-btn:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .logo {
    padding: 0;
  }
  .login {
    padding: 0;
  }
}

.product-box {
  -webkit-animation: easelight 2s cubic-bezier(0.4, 0, 0.3, 0) both;
          animation: easelight 2s cubic-bezier(0.4, 0, 0.3, 0) both;
}

.product-head {
  font-size: 1.25rem;
}

.product:hover .custom-bdr-dark-bm {
  border-bottom: #02C874 2px solid;
  color: #fff;
}

.product .imgbox {
  opacity: 0.7;
  -webkit-transition: inherit;
  transition: inherit;
}

.product:hover .imgbox {
  opacity: 1;
}

.product-summary {
  height: 4rem;
  overflow: hidden;
}

.intro {
  padding: 1rem;
}

.title {
  font-family: "Share Tech Mono", monospace, "Noto Serif TC", serif;
}

.project-status {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Press Start 2P", "Noto Serif TC", serif;
}

.project-status span {
  font-family: "Noto Serif TC", serif;
}

.description {
  font-family: "Noto Sans TC", "Noto Serif TC", serif;
  font-size: 20px;
  line-height: 30px;
}

.project-content img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin: 1rem 0;
  max-height: 400px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 576px) {
  .intro,
  .project-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*update*/
.update-content {
  max-width: 100%;
  max-height: 450px;
  overflow: hidden;
}

.update-content img {
  max-width: 100%;
  height: auto;
}

.shadow-title {
  color: #ccc;
  text-shadow: 0.2px 0.2px #019858, 0.4px 0.4px #019858, 0.6px 0.6px #019858, 0.8px 0.8px #019858, 1px 1px #019858;
  font-family: "Noto Serif TC", serif;
}

.select-content {
  background-color: rgba(55, 55, 55, 0.5);
  height: 4rem;
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

.select-content span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.select {
  background-color: #6BB382;
  width: 120px;
  margin: 0 16px 16px 0;
}

.custom-card .text-select {
  background-color: transparent;
  border: none;
  display: inline-block;
  width: 48px;
  text-align: right;
  margin: 0;
}

.custom-card .select .text-select:focus {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-card .btn-select {
  background-color: transparent;
  width: auto;
  border: none;
  padding: 0 4px 8px;
  margin: 0;
  color: #019858;
  font-size: 16px;
}

.btn-nohover:hover {
  border: none;
}

.expand-project {
  padding: 1rem 1rem 2rem;
  visibility: hidden;
  height: 0;
  -webkit-box-shadow: 0 -2rem 3rem #000;
          box-shadow: 0 -2rem 3rem #000;
}

.expand-project .btn {
  white-space: pre;
  border: #019858 2px dashed;
}

@media (max-width: 576px) {
  .expand-project {
    visibility: visible;
    height: auto;
  }
  .project-content {
    max-height: 200px;
    overflow: hidden;
  }
}

.custom-form label {
  display: block;
  line-height: 2rem;
}

.custom-form label:focus-within {
  border-color: #02C874;
}

.custom-form label:focus-within .form-title {
  color: #fff;
}

.custom-form label:focus-within::before {
  border-color: #02C874;
}

.custom-form label:focus-within::after {
  border-color: #02C874;
}

.custom-form .form-title {
  padding: .5rem .75rem;
  color: #ccc;
}

.custom-form textarea {
  height: auto;
}

.custom-form span {
  padding: 0 0.75rem 0.5rem;
  margin: 0;
}

.new-email {
  display: inline-block;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #3C3C3C;
  border-radius: 4px;
  font-size: 24px;
}

.dashboard {
  text-align: center;
}

.dashboard input {
  display: inline-block;
  width: 10rem;
}

.dashboard .update-name {
  display: inline-block;
  width: 100px;
}

.dashboard img {
  width: 100%;
}

.rank img {
  width: 48px;
  height: 48px;
}

.usr-img {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.amount-area {
  width: 90%;
}

.amount-area .btn {
  width: auto;
  padding: .25rem .5rem;
  letter-spacing: 2px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.history .d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history .no-bdr {
  width: auto;
  border: none;
}

.history h5 {
  font-weight: bold;
}

.history .plan {
  width: 60%;
}
/*# sourceMappingURL=ultimate.css.map */